@charset "utf-8";

.clearfix:after {content:""; display:block; clear:both; visibility:hidden; line-height:0; height:0;}
.clearfix {display:block;}
.blind{position:absolute;left:-99999px;top:-9999999px;font-size:0;}
.break {display:block;}

.calendar{
    max-width:1440px;
    .content{
        width:33.3%;padding:10px;float:left;height:440px;
        &:after{
            content:"";display:block;clear:both;
        }
    }
    .wrap{
        border:solid #ccc;border-width:0 0 1px 1px;
    }
    .week{
        display:flex;
        > div{
            border:solid #ccc;border-width:1px 1px 0 0;width:calc(100% / 7 );height:60px;
        }
        .grayed{
            color:rgba(0,0,0,.2);
        }
        .selected{
            background-color:deepskyblue;
        }
        &.header > div{
            height:25px;text-align:center;
        }
    }

}
